alias wifi_reset='sudo ifconfig en0 down ; sudo ifconfig en0 up'
alias cron_edit='EDITOR=micro crontab -e'
alias bu='echo "brew updates everything" ; brew upgrade --cask --greedy ; echo "casks updated" ;  bubu'
alias gping_='gping google.com 1.1.1.1'
